---
layout: default
title: The Inquiring Reader
author: Jon Duelfer
description: Reviews about great books with a focus on innovative and creative ideas that help us understand the world we live in.
keywords: Books, Novels, Reviews, Literature
---

<div class="toc">
  <h2>Featured works</h2>
  <ul class="texts">
  {% for item in site.texts reversed %}
  
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

{% include tracking.html %}



