---
layout: home
title: The Inquiring Reader
author: Jon Duelfer
description: Reviews and articles on writing that help us understand the intriguing world we live in.
keywords: Books, Novels, Reviews, Literature
---
<span id="postTitle" style="display:none">Home</span>
<div class="toc">

  <div class="flex-banner">
    {% assign bannerPosts = site.texts | sort:"date" | reverse | where:"banner", "true" %}
    {% for item in bannerPosts limit:1 %}
      <div class="banner-post center-post p-3" onclick="document.location='{{site.baseurl}}{{item.url}}'">
        <div class="banner-photo center pr-2">
          <img class="rounded" style="max-height:200px;margin: auto;" src="/assets/img/{{ item.cover }}"/>
        </div>
        <div class="banner-text">
          <a href="{{ site.baseurl }}{{ item.url }}" class="title">
            {{ item.title }}
          </a>
          {% if item.bookauthor %}
            <h5 class="author">by {{ item.bookauthor }}</h5>
          {% endif %}
          {% if item.type %}
            <h6 class="category">Category: <a href="/{{ item.typeurl}}">{{ item.type }}</a></h6>
          {% endif %}
          <p class="description">{{ item.description }}</p>
        </div>
      </div>
    {% endfor %}

    {% for item in bannerPosts %}
      {% if forloop.index < 7 %}
        {% if forloop.index != 1 %}
            <div class="banner-post p-3" onclick="document.location='{{site.baseurl}}{{item.url}}'">
              <div class="banner-photo pr-2">
                <img class="rounded" style="max-height:100px;margin: auto;" src="/assets/img/{{ item.cover }}"/>
              </div>
              <div class="banner-text">
                <a href="{{ site.baseurl }}{{ item.url }}" class="title">
                  {{ item.title }}
                </a>
                {% if item.bookauthor %}
                  <h5 class="author">by {{ item.bookauthor }}</h5>
                {% endif %}
                {% if item.type %}
                  <h6 class="category">Category: <a href="/{{ item.typeurl}}">{{ item.type }}</a></h6>
                {% endif %}
                <p class="description">{{ item.description }}</p>
              </div>
            </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  <hr/>

  <div class="home-container">
  <h2>Recommended novels</h2>
  <ul class="texts" style="padding-left:0px;margin-bottom:0px">
    {% assign sorted_pages = site.texts | sort: 'order' %}
    {% for item in sorted_pages %}
      {% if item.type == "novel" %}
        {% if item.recommended %}
        <li class="text-title" style="list-style-type:none;padding-bottom: 15px;">
          <div style="overflow: hidden;">
            <div style="float:left; margin-right: 10px;cursor: pointer;"
                 onclick="document.location='{{site.baseurl}}{{item.url}}'">
              <img width="65px" src="{{ site.basurl }}/assets/img/{{ item.cover }}"/>
            </div>
            <div>
              <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 20px;">
                <i>{{ item.title }}</i> by {{ item.bookauthor }}
              </a>
              <p style="font-size: 16px;margin-bottom: 0px;">{{ item.description }}</p>
            </div>
          </div>
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  <div class="text-center">
    <button class="btn btn-outline-danger brand-button" type="button"
            onclick="document.location='{{site.baseurl}}/novels'">
      See all novels
    </button>
  </div>

  <h2>Recommended nonfiction</h2>
  <ul class="texts" style="padding-left:0px;margin-bottom:0px;">
    {% assign sorted_pages = site.texts | sort: 'order' %}
    {% for item in sorted_pages %}
      {% if item.type == "nonfiction" %}
        {% if item.recommended %}
        <li class="text-title" style="list-style-type:none;padding-bottom: 15px;">
          <div style="overflow: hidden;">
            <div style="float:left; margin-right: 10px;cursor: pointer;"
                 onclick="document.location='{{site.baseurl}}{{item.url}}'">
              <img width="65px" src="{{ site.basurl }}/assets/img/{{ item.cover }}"/>
            </div>
            <div>
              <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 20px;">
                <i>{{ item.title }}</i> by {{ item.bookauthor }}
              </a>
              <p style="font-size: 16px;margin-bottom: 0px;">{{ item.description }}</p>
            </div>
          </div>
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  <div class="text-center">
    <button class="btn btn-outline-danger brand-button" type="button"
            onclick="document.location='{{site.baseurl}}/nonfiction'">
      See all nonfiction
    </button>
  </div>

  <h2>Recommended short stories</h2>
  <ul class="texts" style="padding-left: 0px;margin-bottom:0px;">
    {% assign sorted_pages = site.texts | sort: 'order' %}
    {% for item in sorted_pages %}
      {% if item.type == "short story" %}
        {% if item.recommended %}
          <li class="text-title" style="list-style-type:none;padding-bottom: 15px;">
            <div style="overflow: hidden;">
              <div style="float:left; margin-right: 10px;cursor: pointer;"
                  onclick="document.location='{{site.baseurl}}{{item.url}}'">
                <img width="65px" src="{{ site.basurl }}/assets/img/{{ item.cover }}"/>
              </div>
              <div>
                <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 20px;">
                  <i>{{ item.title }}</i> by {{ item.bookauthor }}
                </a>
                <p style="font-size: 16px;margin-bottom: 0px;">{{ item.description }}</p>
              </div>
            </div>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  <div class="text-center">
    <button class="btn btn-outline-danger brand-button" type="button"
            onclick="document.location='{{site.baseurl}}/shortstories'">
      See all short stories
    </button>
  </div>

  <h2>Recommended articles</h2>
  <ul class="texts" style="padding-left: 0px;margin-bottom:0px;">
    {% assign sorted_pages = site.texts | sort: 'order' %}
    {% for item in sorted_pages %}
      {% if item.type == "article" %}
        {% if item.recommended %}
          <li class="text-title" style="list-style-type:none;padding-bottom: 15px;">
            <div style="overflow: hidden;">
              <div style="float:left; margin-right: 10px;cursor: pointer;"
                  onclick="document.location='{{site.baseurl}}{{item.url}}'">
                <img width="65px" src="{{ site.basurl }}/assets/img/{{ item.cover }}"/>
              </div>
              <div>
                <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 20px;">
                  <i>{{ item.title }}</i> by {{ item.bookauthor }}
                </a>
                <p style="font-size: 16px;margin-bottom: 0px;">{{ item.description }}</p>
              </div>
            </div>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  <div class="text-center">
    <button class="btn btn-outline-danger brand-button" type="button"
            onclick="document.location='{{site.baseurl}}/articles'">
      See all articles
    </button>
  </div>

  <h2>Recommended comedy</h2>
  <ul class="texts" style="padding-left: 0px;margin-bottom:0px;">
    {% assign sorted_pages = site.texts | sort: 'order' %}
    {% for item in sorted_pages %}
      {% if item.type == "comedy" %}
        {% if item.recommended %}
          <li class="text-title" style="list-style-type:none;padding-bottom: 15px;">
            <div style="overflow: hidden;">
              <div style="float:left; margin-right: 10px;cursor: pointer;"
                  onclick="document.location='{{site.baseurl}}{{item.url}}'">
                <img width="65px" src="{{ site.basurl }}/assets/img/{{ item.cover }}"/>
              </div>
              <div>
                <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 20px;">
                  <i>{{ item.title }}</i> by {{ item.bookauthor }}
                </a>
                <p style="font-size: 16px;margin-bottom: 0px;">{{ item.description }}</p>
              </div>
            </div>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <h2>On Reading</h2>
  <ul class="texts">
    <li>
      <a href="{{ site.baseurl }}/on-reading" style="font-size: 16px;">
        Introduction
      </a>
    </li>
    {% for item in site.texts %}
      {% if item.isMeaningOfWriting == true %}
      <li>
        <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 16px;">
          {{ item.title }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
</div>

{% include tracking.html %}



