---
layout: home
title: The Inquiring Reader
author: Jon Duelfer
description: Reviews and articles on writing that help us understand the intriguing world we live in.
keywords: Books, Novels, Reviews, Literature
---
<span id="postTitle" style="display:none">Home</span>
<div class="toc">

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
      <ol class="carousel-indicators">
        {% for item in site.texts reversed %}
          {% if forloop.index < 10 %}
              {% if forloop.index == 1 %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.index }}" class="active"></li>
              {% else %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.index }}"></li>
              {% endif %}
          {% endif %}
        {% endfor %}
      </ol>
      {% for item in site.texts reversed %}
        {% if forloop.index < 10 %}
            {% if forloop.index == 1 %}
              <div class="carousel-item active">
            {% else %}
              <div class="carousel-item">
            {% endif %}
                <div class="carousel-background d-block w-100 py-4 bg-secondary text-white">
                  <div class="container">
                    <div class="row recent-review" style="cursor:pointer;" onclick="document.location='{{site.baseurl}}{{item.url}}'">
                      <div class="col-sm-8 col-xs">
                        <div class="pl-2">
                          <h2 style="color:white;padding:0px;margin:0px">{{ item.title }}</h2>
                          {% if item.subtitle != null %}
                            <h5 style="color:white;padding:0px;margin:0px">{{ item.subtitle }}</h5>
                          {% endif %}
                          <p style="line-height: 1rem;font-size:14px;margin-bottom:0px;">By: {{ item.bookauthor }}</p>
                          <p style="line-height: 1rem;font-size:14px;margin-bottom:0px;">Reviewed: {{ item.date | date_to_string }}</p>
                          <p style="line-height: 1rem;font-size:14px;">Type: {{ item.type }}</p>
                          <p style="line-height: 1rem;font-size:16px;">{{ item.description }}</p>
                        </div>
                      </div>
                      <div class="col-sm-4 col-xs text-center">
                        {% if item.hasWhiteBackground %}
                          <img class="rounded" style="max-height:250px;margin: auto;background-color:white;" src="/assets/img/{{ item.cover }}"/>
                        {% else %}
                          <img class="rounded" style="max-height:250px;margin: auto;" src="/assets/img/{{ item.cover }}"/>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          {% endif %}
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="home-container">
  <h2>Recommended novels</h2>
  <ul class="texts" style="padding-left:0px;margin-bottom:0px">
    {% assign sorted_pages = site.texts | sort: 'order' %}
    {% for item in sorted_pages %}
      {% if item.type == "novel" %}
        {% if item.recommended %}
        <li class="text-title" style="list-style-type:none;padding-bottom: 15px;">
          <div style="overflow: hidden;">
            <div style="float:left; margin-right: 10px;cursor: pointer;"
                 onclick="document.location='{{site.baseurl}}{{item.url}}'">
              <img width="65px" src="{{ site.basurl }}/assets/img/{{ item.cover }}"/>
            </div>
            <div>
              <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 20px;">
                <i>{{ item.title }}</i> by {{ item.bookauthor }}
              </a>
              <p style="font-size: 16px;margin-bottom: 0px;">{{ item.description }}</p>
            </div>
          </div>
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  <div class="text-center">
    <button class="btn btn-outline-danger brand-button" type="button"
            onclick="document.location='{{site.baseurl}}/novels'">
      See all novels
    </button>
  </div>

  <h2>Recommended nonfiction</h2>
  <ul class="texts" style="padding-left:0px;margin-bottom:0px;">
    {% assign sorted_pages = site.texts | sort: 'order' %}
    {% for item in sorted_pages %}
      {% if item.type == "nonfiction" %}
        {% if item.recommended %}
        <li class="text-title" style="list-style-type:none;padding-bottom: 15px;">
          <div style="overflow: hidden;">
            <div style="float:left; margin-right: 10px;cursor: pointer;"
                 onclick="document.location='{{site.baseurl}}{{item.url}}'">
              <img width="65px" src="{{ site.basurl }}/assets/img/{{ item.cover }}"/>
            </div>
            <div>
              <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 20px;">
                <i>{{ item.title }}</i> by {{ item.bookauthor }}
              </a>
              <p style="font-size: 16px;margin-bottom: 0px;">{{ item.description }}</p>
            </div>
          </div>
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  <div class="text-center">
    <button class="btn btn-outline-danger brand-button" type="button"
            onclick="document.location='{{site.baseurl}}/nonfiction'">
      See all nonfiction
    </button>
  </div>

  <h2>Recommended short stories</h2>
  <ul class="texts" style="padding-left: 0px;margin-bottom:0px;">
    {% assign sorted_pages = site.texts | sort: 'order' %}
    {% for item in sorted_pages %}
      {% if item.type == "short story" %}
        {% if item.recommended %}
          <li class="text-title" style="list-style-type:none;padding-bottom: 15px;">
            <div style="overflow: hidden;">
              <div style="float:left; margin-right: 10px;cursor: pointer;"
                  onclick="document.location='{{site.baseurl}}{{item.url}}'">
                <img width="65px" src="{{ site.basurl }}/assets/img/{{ item.cover }}"/>
              </div>
              <div>
                <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 20px;">
                  <i>{{ item.title }}</i> by {{ item.bookauthor }}
                </a>
                <p style="font-size: 16px;margin-bottom: 0px;">{{ item.description }}</p>
              </div>
            </div>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  <div class="text-center">
    <button class="btn btn-outline-danger brand-button" type="button"
            onclick="document.location='{{site.baseurl}}/shortstories'">
      See all short stories
    </button>
  </div>

  <h2>Recommended articles</h2>
  <ul class="texts" style="padding-left: 0px;margin-bottom:0px;">
    {% assign sorted_pages = site.texts | sort: 'order' %}
    {% for item in sorted_pages %}
      {% if item.type == "article" %}
        {% if item.recommended %}
          <li class="text-title" style="list-style-type:none;padding-bottom: 15px;">
            <div style="overflow: hidden;">
              <div style="float:left; margin-right: 10px;cursor: pointer;"
                  onclick="document.location='{{site.baseurl}}{{item.url}}'">
                <img width="65px" src="{{ site.basurl }}/assets/img/{{ item.cover }}"/>
              </div>
              <div>
                <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 20px;">
                  <i>{{ item.title }}</i> by {{ item.bookauthor }}
                </a>
                <p style="font-size: 16px;margin-bottom: 0px;">{{ item.description }}</p>
              </div>
            </div>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  <div class="text-center">
    <button class="btn btn-outline-danger brand-button" type="button"
            onclick="document.location='{{site.baseurl}}/articles'">
      See all articles
    </button>
  </div>

  <h2>Recommended comedy</h2>
  <ul class="texts" style="padding-left: 0px;margin-bottom:0px;">
    {% assign sorted_pages = site.texts | sort: 'order' %}
    {% for item in sorted_pages %}
      {% if item.type == "comedy" %}
        {% if item.recommended %}
          <li class="text-title" style="list-style-type:none;padding-bottom: 15px;">
            <div style="overflow: hidden;">
              <div style="float:left; margin-right: 10px;cursor: pointer;"
                  onclick="document.location='{{site.baseurl}}{{item.url}}'">
                <img width="65px" src="{{ site.basurl }}/assets/img/{{ item.cover }}"/>
              </div>
              <div>
                <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 20px;">
                  <i>{{ item.title }}</i> by {{ item.bookauthor }}
                </a>
                <p style="font-size: 16px;margin-bottom: 0px;">{{ item.description }}</p>
              </div>
            </div>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <h2>On Reading</h2>
  <ul class="texts">
    <li>
      <a href="{{ site.baseurl }}/on-reading" style="font-size: 16px;">
        Introduction
      </a>
    </li>
    {% for item in site.texts %}
      {% if item.isMeaningOfWriting == true %}
      <li>
        <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 16px;">
          {{ item.title }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
</div>

<script>
  $(document).ready(function() {
    $('.carousel').carousel();
  });
</script>

{% include tracking.html %}



