---
layout: page
title: The Meaning of Writing
comments: true
nextArticle: 2019-05-18-what-is-an-author
---
<p><i>Introduction</i></p>
<hr/>

<blockquote>
    <p>“But how could you live and have no story to tell?” -Dostoevsky</p>
</blockquote>

<p>
    I want to know the meaning of writing, reading, literature or whatever you may call it. How do we represent the world in symbols, convey knowledge and meaning to one another, and express what is most human through words? We have passed an unmeasurable wealth of knowledge across civilizations, warned ourselves to avoid repeating the mistakes of our ancestors, and sparked joy in our children by building fantasy worlds that slip into our everyday lives. Time and space may separate us by hundreds of years or thousands of miles, yet we can open almost any book and understand what they are trying to tell us. How can this be?
</p>

<h2><strong>Articles</strong></h2>
<hr class="section-line"/>
<p>Attempting to understand these questions will be broken down into a series of articles:</p>
<ol class="texts">
{% for item in site.texts %}
    {% if item.isMeaningOfWriting %}
    <li>
        <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
    </li>
    {% endif %}
{% endfor %}
</ol>

<h2><strong>Main Resources</strong></h2>
<hr class="section-line"/>
<p>Articles will be produced while following along to an <a href="https://oyc.yale.edu/">Open Yale Course</a> about the Theory of Literature and using its textbook as a guide:</p>
<ul class="texts">
    <li>
        Open Yale Course:
        <a href="https://oyc.yale.edu/english/engl-300">Introduction to Theory of Literature</a>
    </li>
    <li>
        Textbook:
        <a href="https://www.betterworldbooks.com/product/detail/The-Critical-Tradition--Classic-Texts---Contemporary-Trends-9780312003449">The Critical Tradition: Classic Texts and Contemporary Trends</a>
    </li>
</ul>

<div style="text-align:right">
    <a href="{{ site.baseurl }}/texts/{{ page.nextArticle }}">1. What is an Author? >></a>
</div>

{% include tracking.html %}
{% include disqus.html %}