---
layout: page
title: On Reading
comments: true
nextArticle: 2019-05-18-what-is-an-author
sidebarorder: 5
---
<p><i>Introduction</i></p>
<hr/>

<blockquote>
    <p>“But how could you live and have no story to tell?” -Dostoevsky</p>
</blockquote>

<p><i>On Reading</i> is an ongoing series of articles that investigates and explores the <i>meta</i>, philosophical, and academic aspects of reading and criticism. The goal is to understand what makes a piece of writing good. Is it form? Is it innovation? Is it courage and honesty?</p>

<p>To get to the bottom of these questions, if answerable, this series will attempt to analyze the philosophies of knowledge, interpretation, and honestly who knows what else. We know <i>when</i> we like the writing we like, but do we know <i>why?</i></p>

<h2><strong>Articles</strong></h2>
<hr class="section-line"/>
<p>This series of articles will be constantly updated. They are intended to be read somewhat chronologically, but not really. Feel free to pick up on any one of them that sparks your interest.</p>
<ol class="texts">
{% for item in site.texts %}
    {% if item.isMeaningOfWriting %}
    <li>
        <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
    </li>
    {% endif %}
{% endfor %}
</ol>

<h2><strong>Main Resources</strong></h2>
<hr class="section-line"/>
<p>Articles will be produced while following along to an <a href="https://oyc.yale.edu/">Open Yale Course</a> about the Theory of Literature and using its textbook as a guide. Although this will be the general point-of-departure, rabit holes and tangents are expected.</p>
<ul class="texts">
    <li>
        Open Yale Course:
        <a href="https://oyc.yale.edu/english/engl-300">Introduction to Theory of Literature</a>
    </li>
    <li>
        Textbook:
        <a href="https://www.betterworldbooks.com/product/detail/The-Critical-Tradition--Classic-Texts---Contemporary-Trends-9780312003449">The Critical Tradition: Classic Texts and Contemporary Trends</a>
    </li>
</ul>

<div style="text-align:right">
    <a href="{{ site.baseurl }}/texts/{{ page.nextArticle }}">1. What is an Author? >></a>
</div>

{% include tracking.html %}
{% include disqus.html %}