---
layout: page
title: Upcoming Reading
comments: true
---

This is a list of works, in more or less of an order, for which I will be reading and writing reviews.
Please feel free to comment below to add onto this list with any books you think are worthy. I would love to
hear your suggestions.

<h2><strong>Fiction</strong></h2>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="https://en.wikipedia.org/wiki/A_Scanner_Darkly">A Scanner Darkly</a></td>
            <td>Philip K. Dick</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="https://en.wikipedia.org/wiki/Nine_Princes_in_Amber">Nince Princes in Amber</a></td>
            <td>Roger Zelazny</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="https://www.goodreads.com/book/show/27833670-dark-matter">Dark Matter</a></td>
            <td>Blake Crouch</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="https://en.wikipedia.org/wiki/The_Handmaid%27s_Tale">The Handmaid's Tale</a></td>
            <td>Margaret Atwood</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="https://en.wikipedia.org/wiki/Ancillary_Justice">Ancillary Justice</a></td>
            <td>Ann Leckie</td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href="https://en.wikipedia.org/wiki/Ancillary_Sword">Ancillary Sword</a></td>
            <td>Ann Leckie</td>
        </tr>
        <tr>
            <td>7</td>
            <td><a href="https://en.wikipedia.org/wiki/Sign_of_the_Unicorn">Sign of the Unicorn</a></td>
            <td>Roger Zelazny</td>
        </tr>
        <tr>
            <td>8</td>
            <td><a href="https://en.wikipedia.org/wiki/The_Guns_of_Avalon">The Guns of Avalon</a></td>
            <td>Roger Zelazny</td>
        </tr>
        <tr>
            <td>9</td>
            <td><a href="https://en.wikipedia.org/wiki/Ancillary_Mercy">Ancillary Mercy</a></td>
            <td>Ann Leckie</td>
        </tr>
        <tr>
            <td>10</td>
            <td><a href="https://en.wikipedia.org/wiki/The_Man_in_the_High_Castle">The Man in the High Castle</a></td>
            <td>Philip K. Dick</td>
        </tr>
        <tr>
            <td>11</td>
            <td><a href="https://en.wikipedia.org/wiki/The_Fifth_Season_(novel)">The Fifth Season</a></td>
            <td>N. K. Jemisin</td>
        </tr>
        <tr>
            <td>12</td>
            <td><a href="https://en.wikipedia.org/wiki/The_Way_of_Kings">The Way of Kings</a></td>
            <td>Bandon Sanderson</td>
        </tr>
        <tr>
            <td>13</td>
            <td><a href="https://www.goodreads.com/book/show/35068705-the-poppy-war">The Poppy War</a></td>
            <td>R. F Kuang</td>
        </tr>
        <tr>
            <td>14</td>
            <td><a href="https://en.wikipedia.org/wiki/A_Voyage_to_Arcturus">A Voyage to Arcturus</a></td>
            <td>David Lindsay</td>
        </tr>
        <tr>
            <td>15</td>
            <td><a href="https://en.wikipedia.org/wiki/Oryx_and_Crake">Oryx and Crake</a></td>
            <td>Margaret Atwood</td>
        </tr>
    </tbody>
</table>

<h2><strong>Nonfiction</strong></h2>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="https://en.wikipedia.org/wiki/The_Unwinding">The Unwinding: An Inner History of the New America</a></td>
            <td>George Packer</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="https://en.wikipedia.org/wiki/Factfulness:_Ten_Reasons_We%27re_Wrong_About_the_World_%E2%80%93_and_Why_Things_Are_Better_Than_You_Think">Factfulness: Ten Reasons We're Wrong About the World – and Why Things Are Better Than You Think</a></td>
            <td>Hans Rosling, Anna Rosling Rönnlund and Ola Rosling</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="http://www.jason-stanley.com/book/how-propaganda-works/">How Propaganda Works</a></td>
            <td>Jason Stanley</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="https://www.goodreads.com/book/show/40983494-the-problem-of-democracy">The Problem of Democracy</a></td>
            <td>Nancy Isenberg and Andrew Burstein</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="https://en.wikipedia.org/wiki/A_Theory_of_Justice">A Theory of Justice</a></td>
            <td>John Rawls</td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href="https://www.goodreads.com/book/show/1339951.European_Literature_and_the_Latin_Middle_Ages">European Literature and the Latin Middle Ages</a></td>
            <td>Ernst Robert Curtius</td>
        </tr>
    </tbody>
</table>

{% include tracking.html %}
{% include disqus.html %}