---
sitemap: false
---

/*
* Common Variables
*
* Feel free to change!
*
*/

/* FONTS */

$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 20px;

/* 
* COLOR.
* 
* Make sure to leave color-scheme in config file empty for granular control
* 
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;

$app-media-xs: 767px;

@import "ed";
@import "syntax";

.text-center {
    text-align: center;
}
.section-line {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.flex-container {
    display: flex;
}

@media screen and (min-width: $app-media-xs) {
    .flex-container {
        flex-direction: row;
    }

    .double-section {
        flex: 50%;
    }
}

@media screen and (max-width: $app-media-xs) {
    .flex-container {
        flex-direction: column;
    }
}

.home-container {
  max-width: 45rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}
  
@media (min-width: 38em) {
  .home-container {
    max-width: 32rem;
  }
}
@media (min-width: 56em) {
  .home-container {
    max-width: 45rem;
  }
}

.home-masthead {
  margin-bottom: 0px !important;
}

.brand-button {
  color: $link-color;
  border-color: $link-color;
}

.brand-button:hover, .brand-button:focus, .brand-button:active, .brand-button.active, .open>.dropdown-toggle.brand-button {
  background: $link-color;
  border-color: $link-color;
}

.flex-banner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (min-width: 38em) {
  .flex-banner :nth-child(1) { order: 1; }
  .flex-banner :nth-child(2) { order: 2; }
}

@media (min-width: 56em) {
  .flex-banner :nth-child(1) { order: 2; }
  .flex-banner :nth-child(2) { order: 1; }
}
.flex-banner :nth-child(3) { order: 3; }
.flex-banner :nth-child(4) { order: 4; }
.flex-banner :nth-child(5) { order: 5; }
.flex-banner :nth-child(6) { order: 6; }

.banner-post {
  width: 300px;
  min-width: 200px;
  flex: 1 1 auto;
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  border-image: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      lightgrey,
      rgba(0, 0, 0, 0)
    ) 1 100%;
  cursor: pointer;
}
.center-post {
  width: 500px;
}

.banner-photo {
  float: left;
}

.banner-text {
  text-align: left;
  
  .title {
    font-size: 22px;
    line-height: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .author {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top:0px;
  }
  .description {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
  }
}

