---
layout: narrative
title: Brandon Sanderson
comments: true
---
<hr/>
<ul class="texts" style="padding-left:0px;">
{% assign sorted_pages = site.texts | sort: 'date' %}
{% for item in sorted_pages %}
    {% if item.bookauthor == "Brandon Sanderson" %}
    <li class="text-title" style="list-style-type:none;padding-bottom: 10px;">
        <div style="overflow: hidden;">
        <div style="float:left; margin-right: 10px;cursor: pointer;"
                onclick="document.location='{{site.baseurl}}{{item.url}}'">
            <img height="100px" src="{{ site.basurl }}/assets/img/{{ item.cover }}"/>
        </div>
        <div>
            <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 20px;">{{ item.title }}</a>
            {% if item.series != null %}
                <p style="font-size: 12px;margin-bottom: 0px;"><i>{{ item.series }} {{ item.seriesnumber }}</i></p>
            {% endif %}
            <p style="font-size: 16px">{{ item.description }}</p>
        </div>
        </div>
    </li>
    {% endif %}
{% endfor %}
</ul>

