---
layout: narrative
title: Dan Simmons
comments: true
---
<hr/>
<ul class="texts" style="padding-left:0px;">
{% assign sorted_pages = site.texts | sort: 'order' %}
{% for item in sorted_pages %}
    {% if item.type == "novel" %}
    {% if item.bookauthor == "Dan Simmons" %}
    <li class="text-title" style="list-style-type:none;padding-bottom: 10px;">
        <div style="overflow: hidden;">
        <div style="float:left; margin-right: 10px;cursor: pointer;"
                onclick="document.location='{{site.baseurl}}{{item.url}}'">
            <img height="100px" src="{{ site.basurl }}/assets/img/{{ item.cover }}"/>
        </div>
        <div>
                <a href="{{ site.baseurl }}{{ item.url }}" style="font-size: 20px;">{{ item.title }}</a>
            <p style="font-size: 16px">{{ item.description }}</p>
        </div>
        </div>
    </li>
    {% endif %}
    {% endif %}
{% endfor %}
</ul>

