<p id="spoilerWarning" style="color:#841212;cursor:pointer;"
onclick="document.getElementById('spoiler').style.display='block';document.getElementById('spoilerWarning').style.display='none';">
Reveal spoilers
</p>

<div id="spoiler" style="display:none;">
<h4>On Beloved</h4>
<p>It is difficult to classify Beloved. Is she a ghost, a spirit, a real person, or a figure of the characters’ haunted imagination?</p>
<blockquote>&nbsp;&nbsp;&nbsp;&nbsp;Beloved, inserting a thumb in her mouth along with the forefinger, pulled out a back tooth. There was hardly any blood, but Denver said, “Ooooh, didn’t that hurt you?”<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Beloved looked at the tooth and thought, This is it. Next would be her arm, her hand, a toe. Pieces of her would drop maybe one at a time, maybe all at once. Or on one of those mornings before Denver woke and after Sethe left she would fly apart. It is difficult keeping her head on her neck, her legs attached to her hips when she is by herself. Among the things she could not remember was when she first knew that she could wake up any day and find herself in pieces. She had two dreams: exploding, and being swallowed. When her tooth came out – an odd fragment, last in the row – she thought it was starting.</blockquote>

<p>Throughout the book, Sethe constantly refers to the house as "haunted.” It's natural, then, to think of Beloved as a type of spirit. This becomes more apparent later on, when Beloved seems to drain the life out of Sethe.</p>
<blockquote>Then it seemed to Denver the thing was done: Beloved bending over Sethe looked the mother, Sethe the teething child, for other than those times when Beloved needed her, Sethe confined herself to a corner chair. The bigger Beloved got, the smaller Sethe became; the brighter Beloved’s eyes, the more those eyes that used never to look away became slits of sleeplessness. Sethe no longer combed her hair or splashed her face with water. She sat in the chair licking her lips like a chastised child while Beloved ate up her life, took it, swelled up with it, grew taller on it. And the older woman yielded it up without a murmur.</blockquote>

<p>As someone who enjoys Science Fiction, when I read, I often look closely at the feasibility of the writer’s imagination. Beloved's character confused me. She was simultaneously real and not real. Although a part of me wanted to know <i>what</i> Beloved was – to understand the rationality of a ghost or spirit – the other side of me realized that it was more important what she <i>represented</i>, and I was content with that.</p>

<h4>On Sweet Home</h4>
<p>Halle – Sethe’s husband who is not heard from since Sethe’s escape from the plantation – had bought his mother’s (Baby Suggs) freedom from Sweet Home’s owners, the Garners.</p>
<blockquote>Of the two hard things – standing on her feet till she dropped or leaving her last and probably only living child – she chose the hard thing that made him happy, and never put to him the question she put to herself: What for? What does a sixty-odd-year-old slavewoman who walks like a three-legged dog need freedom for? And when she stepped foot on free ground she could not believe that Halle knew what she didn’t; that Halle, who had never drawn one free breath, knew that there was nothing like it in this world. It scared her.</blockquote>

<p>Mr. Garner – the plantation’s owner – brought Baby Suggs to Cincinnati and helped her find a job to start her new life. Although he was a slave owner, he seemed to have some good in him, but Baby Suggs straightens it out.</p>
<blockquote>“Tell em, Jenny. You live any better on any place before mine?”<br/>
“No, sir,” she said. “No place.”<br/>
“How long was you at Sweet Home?”<br/>
“Ten year, I believe.”<br/>
“Ever go hungry?”<br/>
“No, sir.”<br/>
“Cold?”<br/>
“No, sir.”<br/>
“Anybody lay a hand on you?”<br/>
“No, sir.”<br/>
“Did I let Halle buy you or not?”<br/>
“Yes, sir, you did,” she said, thinking, But you got my boy and I’m all broke down. You be renting him out to pay for me way after I’m gone to Glory.
</blockquote>

<p>Sethe got along with Mrs. Garner – to the extent that a slave and her owner possibly could. Mrs. Garner gave her earings to wear when getting married to Halle.</p>

<p>Mr. Garner let his slaves carry guns and have freedom within the confines of his farm and supervision. Morrison makes it clear that this does not make him good, simply less bad in the world of terrible possibilities. This is made apprent upon his death, when the “school teacher” takes over the farm. He is a hateful, despicable racist and performs atrocities that negate any good that the Garners may have attempted to do.</p>
<blockquote>After Mr. Garner died with a hole in his ear that Mrs. Garner said was an exploded ear drum brought on by stroke and Sixo said was gunpowder, everything they touched was looked on as stealing. Not just a rifle of corn, or two yard eggs the hen herself didn’t even remember, everything. Schoolteacher took away the guns from the Sweet Home men and, deprived of game to round out their diet of bread, beans, hominy, vegetables and a little extra at slaughter time, they began to pilfer in earnest, and it became not only their right but their obligation.</blockquote>

<h4>On Pain, Loss, and Suffering</h4>
<p>I would struggle to convey the emotions that Morrison masterfully laid out in her novel, so I will leave a few quotes for consideration.</p>

<blockquote>Because there was no way in hell a black face could appear in a newspaper if the story was about something anybody wanted to hear. A whip of fear broke through the heart chambers as soon as you saw a Negro’s face in a paper, since the face was not there because the person had a healthy baby, or outran a street mob. Nor was it there because the person had been killed, or maimed or caught or burned or jailed or whipped or evicted or stomped or raped or cheated, since that could hardly qualify as news in a newspaper. It would have to be something out of the ordinar – something whitepeople would find interesting, truly different, worth a few minutes of teeth sucking if not gasps. And it must have been hard to find news about Negroes worth the breath catch of a white citizen of Cincinnati</blockquote>

<blockquote> So you protected yourself and loved small. Picked the tiniest stars out of the sky to own; lay down with head twisted in order to see the loved one over the rim of the trench before you slept. Stole shy glances at her between the trees at chain-up. Grass blades, salamanders, spiders, woodpeckers, beetles, a kingdom of ants. Anything bigger wouldn’t do. A woman, a child, a brother – a big love like that would split you wide open in Alfred, Georgia. He knew exactly what she meant: to get to a place where you could love anything you chose – not to need permission for desire – well now, that was freedom.</blockquote>

<blockquote>Because the truth was simple, not a long-drawn-out record of flowered shifts, tree cages, selfishness, ankle ropes and wells. Simple: she was squatting in the garden and when she saw them coming and recognized schoolteacher’s hat, she heard wings. Little hummingbirds stuck their needle beaks right through her headcloth into her hair and beat their wings. And if she thought anything, it was No. No. Nono. Nonono. Simple. She just flew. Collected every bit of life she had made, all the parts of her that were precious and fine and beautiful, and carried, pushed, dragged them through the veil, out, away, over there where no one could hurt them. Over there. Outside this place, where they would be safe. And the hummingbird wings beat on.</blockquote>

<p id="spoilerHide" style="color:#841212;cursor:pointer;"
onclick="document.getElementById('spoiler').style.display='none';document.getElementById('spoilerWarning').style.display='block';">
Hide spoilers
</p>
</div>
