<p id="spoilerWarning" style="color:#841212;cursor:pointer;"
onclick="document.getElementById('spoiler').style.display='block';document.getElementById('spoilerWarning').style.display='none';">
Reveal spoilers
</p>

<div id="spoiler" style="display:none;">
<p>The summer that Paul graduated from high school, he wrote an explicit, sexual love letter to Eva. Eva was the principal of the high school at the time.</p>
<p>She was completely taken aback – they were not romantically involved and she had never thought, insinuated, or considered anything of the sort. She decided to tear the letter up and throw it in the trash, never telling anyone about it.</p>

<blockquote>She could have told someone, told Gerald or spoken to Paul or to his father, but she hadn’t. That had been irresponsible of her, she knew, but Paul had just graduated from school, his mother was very ill that summer, and the letter was so passionate, so precise, that she worried that anyone reading it would assume she’d encouraged him.</blockquote>

<p>This paragraph tells so much. Was this rejection a cause of his later actions? Should she have handled it differently and maybe things would not have turned out the way they did?</p>

<p>This sexist belief is engrained in society: blaming a woman for somehow “encouraging” a boy. McFarlane is acutely aware of this and makes us reconsider how we would have seen this situation if it happened around us.</p>

<p id="spoilerHide" style="color:#841212;cursor:pointer;"
onclick="document.getElementById('spoiler').style.display='none';document.getElementById('spoilerWarning').style.display='block';">
Hide spoilers
</p>
</div>

