<p id="spoilerWarning" style="color:#841212;cursor:pointer;"
onclick="document.getElementById('spoiler').style.display='block';document.getElementById('spoilerWarning').style.display='none';">
REVEAL SPOILERS
</p>

<div id="spoiler" style="display:none;">

<h5>The Murderer</h5>
<p>I suspected Janina of being the murderer by the way she spoke of Big Foot's death. But it wasn't clear at all if she had killed him (which she actually didn't). It turned out that it was merely the trigger that pushed her over the edge to commit the murders of the Commandant, Boros, and Father Rustle (all of whom were in the photo with her dead "girls").</p>

<p>Her narration, then, is one of an unreliable narrator. Towards the end, it's clear she wants to present the reader with a story of what happened to convince us that it was a form of retribution – that she is not evil but was merely acting on behalf of justice.</p>

<p>I think that Tokarczuk is trying to posit a real moral dilemma here. Obviously, she depicts Janina as somewhat loopy – she helplessly believes in horoscopes and how they define all interaction – but her escape and acceptance by her friends at the end of the novel indicates that maybe Tokarczuk believes some sort of justice was found here.</p>

<p>In today's society, the killing of a dog is nowhere even remotely seen as equal to the murder of a person. But Tokarzcuk wants us to contemplate that. Our entire society, from the food we eat to how we treat animals, is based upon how we believe ourselves superior to them. If we didn't – if we were somebody like Janina – how would we approach these sorts of problems of morality?</p>

<p>Some readers may find these questions foolish and idealistic. But I'd say to cast aside your preconceived notions of morality briefly and just think about it. All of society was against Janina and on the side of these morally repugnant hunters. Was some sort of justice served?</p>

<p id="spoilerHide" style="color:#841212;cursor:pointer;"
onclick="document.getElementById('spoiler').style.display='none';document.getElementById('spoilerWarning').style.display='block';">
Hide spoilers
</p>
</div>