<p id="spoilerWarning" style="color:#841212;cursor:pointer;"
onclick="document.getElementById('spoiler').style.display='block';document.getElementById('spoilerWarning').style.display='none';">
REVEAL SPOILERS
</p>

<div id="spoiler" style="display:none;">

<h3>Ending</h3>
<p>Although I really enjoyed almost every part of the book, from following the narrator around in his somewhat mundane life to discovering Menshiki's background and even suspecting he was the culprit, I thought the ending lacked an oomph that Murakami seemed to be setting up.</p>

<p>To me, there were a number of different endings that I was imagining. One was that the narrator had gone crazy after his divorce – all alone in the secluded, mountain home – and murdered Tomohiko Amada and took Mariye captive. The trip into the netherworld would have been him struggling with reality.</p>

<p>Another was that Menshiki lied about his past and his relationship to Mariye. His spying was actually much more sinister than we were made to believe. I even suspected that he was the faceless man wearing a different skin to see if the narrator could paint him.</p>

<p>There were plenty other scenarios that ran through my head that didn’t pan out. That certainly speaks highly for Murakami’s story; anything that can spark so much imagination is very captivating and well-written in itself.</p>

<p>But I did find the fact that Mariye had simply gotten trapped in Menshiki’s basement too bland. If the narrator had really disappeared from the elderly home and was found in the pit, why was Mariye’s experience the opposite of fantastical? I’m sure Murakami has his reasons. Overall, it didn’t take away from the experience of reading the novel, which I thought was excellent.</p>

<p id="spoilerHide" style="color:#841212;cursor:pointer;"
onclick="document.getElementById('spoiler').style.display='none';document.getElementById('spoilerWarning').style.display='block';">
Hide spoilers
</p>
</div>