<p id="spoilerWarning" style="color:#841212;cursor:pointer;"
onclick="document.getElementById('spoiler').style.display='block';document.getElementById('spoilerWarning').style.display='none';">
REVEAL SPOILERS
</p>

<div id="spoiler" style="display:none;">

<h5>Hoa</h5>
<p>The narrator of the historical section turns out to be Hoa, the Stone Eater that follows Nassun around since the beginning of <i>The Fifth Season</i>. He is the one who caste the moon out of Earth’s orbit and caused the seasons.</p>

<p>He did it in defiance of the civilization that subjugated him and his people. He realized that the civilization powered itself off of magic that it extracted from the suspended, half-living, half-dead corpses of his ancestors (or at least the <i>species</i> after which he was designed – I did not understand this detail entirely).</p>

<p>It turns out that just as the dead civilization was powered by the suspended life-forms that emit orogeny/magic, the obelisks are made of a similar material. The reason that the obelisks will only cede to certain individuals is that they seem to <i>choose</i> who can control them. The person has to be sufficiently scarred and oppressed – as the beings that are suspended within it are.</p>

<blockquote>So the onyx yields to me now because, it senses at last, I too have known pain. My eyes have been opened to my own exploitation and degradation. I am afraid, of course, and angry, and hurt, but the onyx does not scorn these feelings within me. It seeks something else, however, something more, and finally finds what it seeks nestled in a little burning knot behind my heart: determination. I have committed myself to making, of all this wrongness, something right.</blockquote>

<p>This is why Nassun is able to control the obelisks – as well as Essun to a lesser degree. Nassun’s predicament also parallel’s Hoa’s; she sees a horribly unjust world with the only solution of destroying it entirely. Hoa, however, regrets what went wrong and is using Essun to right his mistake and build society in a better way.</p>

<h5>The Stone Eaters</h5>
<p>In <i>The Stone Sky</i>, we finally understand what the Stone Eaters are. When Hoa caste the moon out of Earth’s orbit, the Earth punished any human in the nearby area by turning them into stone. They became part of the Earth in some sense, as they can effortlessly travel through it and, in theory, they live forever (unless they are killed). Their actions seem so odd to humans because they live on a very different, relative time scale.</p>

<p>I am unsure if they were all orogenes or if they were simply anybody in the vicinity at the moment Hoa caste the moon away. To me, it seems that the Earth didn’t discriminate between the types of humans that were harming it. Regardless, once orogenes became Stone Eaters, they could no longer perform orogeny.</p>

<p>Among the Stone Eaters are two factions: those that seek to bring the moon back into Earth’s orbit to save humanity from suffering and to build a better, more equal world, and those that want to send the moon hurtling into Earth as an act of vengeance and extreme nihilism, killing the Earth and destroying all life to end the Stone Eaters’ eternal suffering.</p>

<p>The first group is led by Hoa acting through Essun, while the second group is led by Steele acting through Nassun. Although I’m not certain, I believe that Steele is the captain that was subjugating Hoa and the other orogenes in the historical narrative.</p>

<h5>The Evil Earth</h5>
<blockquote>Hello, my little enemy.</blockquote>
<p>The Earth is a living being, has a consciousness, and even speaks to Nassun directly as she passes through the core (which is made of magic, the substance that Nassun uses to wield much more power than other orogenes). This is by far my favorite part about the series; the Earth is alive and reacting to the humans that are affecting it.</p>

<p>The important thing to note here is that humans are not necessarily <i>destroying</i> it. They are affecting it as a mosquito bites its prey: enough mosquitoes and bites and there can be serious issues, but we are good at controlling mosquito infestations. Similarly, Father Earth is good at controlling human infestations.</p>

<p>Although this is clearly a fantasy saga and there is no Father Earth that can talk to us, I think that Jemisin is alluding to a certain philosophy: we are not the apex species living in an inanimate space. We live in an infinite ecosystem where species live above and below us. Just as a bumble bee may not be able to contemplate the life of a human – but may live in its garden – we are not able to contemplate the life forms above us. Maybe we live in the garden of Father Earth and we can only interpret what our minds are designed to understand.</p>

<p id="spoilerHide" style="color:#841212;cursor:pointer;"
onclick="document.getElementById('spoiler').style.display='none';document.getElementById('spoilerWarning').style.display='block';">
Hide spoilers
</p>
</div>

