<p id="spoilerWarning" style="color:#841212;cursor:pointer;"
   onclick="document.getElementById('spoiler').style.display='block';document.getElementById('spoilerWarning').style.display='none';">
   Reveal spoilers
</p>

<div id="spoiler" style="display:none;">
    <p>Father Earth has lost its child. The moon – due to some event caused by a past civilization – was pushed out of its orbit, and is now orbiting earth in a much longer, elliptical path. The gravitational weight of the moon passing by the earth at speed causes the instability of <i>fifth seasons</i>.</p>
    <p>Jemisin depicts the Earth as a being with a desire of its own: to regain its child. It fights to eradicate the humans and orogenes that caused the moon to change orbit. A faction of humans, orogenes, and stone eaters seeks to reestablish the orbit of the moon, while another faction seeks to destroy Father Earth.</p>
    <p>Although it’s clear that a three-way war, or possibly even more, is being waged, it’s not clear who is on which side. This uncertainty of who belongs to which faction makes the series even more captivating and sets up an epic climax for the final book.</p>

    <p id="spoilerHide" style="color:#841212;cursor:pointer;"
       onclick="document.getElementById('spoiler').style.display='none';document.getElementById('spoilerWarning').style.display='block';">
        Hide spoilers
    </p>
</div>
