<p id="spoilerWarning" style="color:#841212;cursor:pointer;"
   onclick="document.getElementById('spoiler').style.display='block';document.getElementById('spoilerWarning').style.display='none';">
   Reveal spoilers
</p>

<div id="spoiler" style="display:none;">
    <h5>Dialogue</h5>
    <p><i>The Sound and the Fury</i> is a master class on how a story can be told through internal dialogue. Benjy shows how he is mistreated for being handicapped. Quentin shows how his deteriorating mental state ultimately leads to his own suicide. Jason shows how an unreliable narrator can skew our perception of other characters.</p>
    <p>And although each of the chapters can be difficult to understand, they constantly convey insightful thoughts and poetic prose. Take Benjy’s narration as an example, which replaces typical descriptions with confusing, but lurid details.</p>
    <blockquote>Then the dark began to go in smooth, bright shapes, like it always does, even when Caddy says that I have been asleep.</blockquote>

    <h5>Blame</h5>
    <p>Who is to blame for the family’s demise? Is it the deceased father? The abusive, psychotic mother? The children who have run away?</p>
    <p>In each chapter, we want to believe that the narrator is telling us the truth. We want to believe that they can understand their family’s needs and lift them out of ruin. Nothing is further from the truth.</p>
    <p>No character is normal. No narrator is reliable. Nobody can save the family from its inevitable demise. But they all see themselves as free of guilt or responsability. They believe that their demise due to other members of the family or external, uncontrollable factors.</p>
    <p>They see Benjy’s illness as an incurable part of life, even though he could receive treatment and help from medical professionals. The mother blames everything on her children. Jason essentially forces his niece to escape the household for her own good and safety, ultimately stealing all his savings – which he had been embezzling from the family anyways. The list goes on an on, but the truth is that their ruin is their own fault, and therein lies the tragedy.</p>

    <h5>Caddy</h5>
    <p>Caddy is a recurring figure that shows up in all of the brothers’ narratives. They all have different perspectives of her. But a common theme is their incessant need to protect or judge her. These are traditional, sexist values that ultimately push her to wits end and to escape her family.</p>
    <p>Does her escape mean that she ultimately made a better life for herself? Maybe, maybe not. Although it isn’t explicit, she lived in Paris at the time of German occupation after the Second World War and ended up with a German officer. It is doubtful that this relationship was consensual.</p>
    <p>Regardless of whether or not her escape led to good or bad, her daugher – Miss Quentin, who is ultimately an extension of herself – grows up within the Compson household under Jason. She left her daughter to the fate that she tried to escape herself.</p>

    <p id="spoilerHide" style="color:#841212;cursor:pointer;"
       onclick="document.getElementById('spoiler').style.display='none';document.getElementById('spoilerWarning').style.display='block';">
        Hide spoilers
    </p>
</div>
