<p id="spoilerWarning" style="color:#841212;cursor:pointer;"
onclick="document.getElementById('spoiler').style.display='block';document.getElementById('spoilerWarning').style.display='none';">
Reveal spoilers
</p>

<div id="spoiler" style="display:none;">
<blockquote>I didn't need light to know this was my father's 1982 Ford Mustang GT, but I slid my hand further across the hood to check for the scoop. There it was, as I expected - I could even feel the bumps along the edge where he'd touched up some chipped paint one summer afternoon, cursing as he did so at whatever or whoever it was that had caused the damage.</blockquote>

<p>In the complete darkness, the narrator is transported to his childhood home. Everything is exactly how he remembers it. He has a conversation with his mother – whose face is mysteriously hidden by her hair. He can't manage to get a good glimpse of her. She asks where his father is and goes to call him for dinner.</p>

<blockquote>I began to experience claustrophobia, of the sort one might feel if the walls had begun closing in, or some kind of white noise, a dark hiss, emanating from who knows where, had grown in volume until nothing else could be heard, though neither of these things were actually happening. The molecules that made up the air seemed to have grown larger, large enough so that each of them could be felt as it shuddered, spun, ricocheted around the room. I was finding it harder to breathe, and the monotony of my mother’s stirring had begun to make me nauseous, as if I were on a boat inside the pot, floating upon the surface of the stew, bobbing and heaving with the rhythm of her stirring.</blockquote>

<p>He knows something is wrong as his mother makes her way towards the garage. He wants to stop her – warn her – but can't. Lennon's writing is gripping and suspenseful, pulling the reader deep into the emotional state of the narrator. What seemed to be an adventure story changes form into something completely unexpected.</p>

<blockquote>I knew what my mother would find. I realized now that I’d known it all along, that I’d seen but elected not to register the shape hanging from the rafters in the gloom of the empty half of the garage, and the faint glint of the kicked-over stepstool. ‘Mom, wait,’ I said, or thought I did...</blockquote>

<p>Did the Facility remake his past, akin to the hologram that plays a feed of the island? Is it a hallucination caused by the total darkness, a memory that he had buried deep, and that fear had resurfaced?</p>
<p>I think that the Facility can replay recorded memories, and it threw him into a virtual representation of his past. His predecessor had experienced the same thing and had warned him. The Steampunk-like technology seems to defy what we think is possible. Regardless, he is ripped away from his nightmare and comes back to the present.</p>

<blockquote>Materiality reasserted itself slowly at first, then all at once, like a mountain emerging suddenly from fog. It took the form of rain on my face, a swale of green, a stone wall, and the calm gray sea; I was standing inside the shell of a ruined cottage on the island’s western plain and gazing into the distant nothing.</blockquote>

<p id="spoilerHide" style="color:#841212;cursor:pointer;"
onclick="document.getElementById('spoiler').style.display='none';document.getElementById('spoilerWarning').style.display='block';">
Hide spoilers
</p>
</div>

