---
layout: default
---

<div class="narrative">
  <h1 id="postTitle" class="text-title" style="margin-bottom:0px;"><strong>{{ page.title }}</strong></h1>
  {% if page.subtitle != null %}
    <h5 style="padding:0px;margin:0px"><strong>{{ page.subtitle }}</strong></h5>
  {% endif %}
  {% if page.bookauthor %}
    <p class="citation" style="margin-bottom:0px;"><i>by</i> 
    <a href="/{{ page.bookauthorurl }}">{{ page.bookauthor }}</a></p>
  {% endif %}
  {% if page.isMeaningOfWriting %}
      <p class="citation" style="margin-bottom:0px;"><i>part of the <a href="/on-reading">On Reading</a> series</i></p>
  {% endif %}
  {% if page.thoughtarticle %}
    <p class="citation"><i>written by</i> {{ page.author }}</p>
  {% else %}
    {% if page.author %}
      <p class="citation"><i>reviewed by</i> {{ page.author }}</p>
    {% endif %}
  {% endif %}
  {% if page.cover %}
    {% if page.isMeaningOfWriting %}
      <img style="margin: auto !important;max-height: 300px;" src="{{ site.basurl }}/assets/img/{{ page.cover }}"/>
    {% else %}
      <img style="margin: auto !important;max-height: 500px;" src="{{ site.basurl }}/assets/img/{{ page.cover }}"/>
    {% endif %}
  {% endif %}

  {% if page.covercaption %}
    <p style="font-size:11px;text-align:center;">{{ page.covercaption }}</p>
  {% endif %}

  {% if page.link %}
    <div style="text-align:center">
    {% if page.linktext %}
      <a href="{{ page.link }}" target="_blank">{{ page.linktext }}</a>
    {% else %}
      <a href="{{ page.link }}" target="_blank">{{ page.link }}</a>
    {% endif %}
    </div>
  {% endif %}

  {{ content }}
</div>

{% include tracking.html %}
{% include disqus.html %}